server:
  port: 8100
  servlet:
    context-path: /register
spring:
  boot:
    admin:
      client:
        url: http://localhost:8501
        username: byteyun
        password: 123456
  application:
    name: by-cloud-register
  security:
    user:
      name: by-cloud
      password: 123456

info:
  app:
    name: ${spring.application.name}
    description: "@project.description@"
    version: "@project.version@"

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    instance-info-replication-interval-seconds: 30
    service-url:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@${eureka.instance.hostname}:${server.port}${server.servlet.context-path}/eureka/
